# Import and install pandas (our makefile already installs it)

In [8]:
import pandas as pd

/var/folders/q5/cphld2b93kx2d29mxkpsgwsr0000gn/T/ipykernel_71530/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Read CSV file with pandas

In [9]:
x=pd.read_csv('path', encoding = 'utf-8')

FileNotFoundError: [Errno 2] No such file or directory: 'path'

# Create a new pandas DataFrame

## <font color=red> Method 1: use list of lists as rows, then set manually the column names </font>

In [10]:
df=pd.DataFrame([[1,2,3,4],[1,2,3,4],[1,2,3,4]])

In [11]:
df.columns=['name1','name2','name3','name4']

In [12]:
df

   name1  name2  name3  name4
0      1      2      3      4
1      1      2      3      4
2      1      2      3      4

## <font color=red> Method 2: use list of dictionaries. Each key will become a column name </font>

In [13]:
listofdicts=[{'name1':1, 'name2':2},{'name1':3, 'name2':4},{'name1':4,'name2':5}]
df2=pd.DataFrame(listofdicts)

In [14]:
df2

   name1  name2
0      1      2
1      3      4
2      4      5

# Extract specific rows and columns from a dataframe

In [15]:
df.loc[0] #Extracts row 0 (=first row) from DataFrame df

name1    1
name2    2
name3    3
name4    4
Name: 0, dtype: int64

In [16]:
df.loc[:,'name1'] #Extracts column called 'name1' from df

0    1
1    1
2    1
Name: name1, dtype: int64

In [17]:
df.loc[0,'name1'] #Extracts row 0 of column called 'name1'

1

# Adding columns to dataframe

## <font color=red> From another DataFrame df2 </font>

In [18]:
newcol=df2.loc[:,'name2'] #extract new column from df2
df['columnfromdf2']=newcol #add it to df, under the name 'columnfromdf2'

In [19]:
df

   name1  name2  name3  name4  columnfromdf2
0      1      2      3      4              2
1      1      2      3      4              4
2      1      2      3      4              5

In [24]:
df=pd.DataFrame([]) #if you want to initialise an empty dataframe where you add other columns

In [25]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df['currency_id']=df_currency.loc[:,'currency_id'] #add a couple of columns
df['currency_name']=df_currency.loc[:,'currency_name']

In [ ]:
df.to_parquet('path') #save it to parquet format